@import "tailwindcss";





@theme {
  --color-primary: "#f4f4f4";
  --color-primaryDeep: "#1b1b1726";
  --color-secondary: "#777777";
  --color-tertiary:"#272626";
  --color-gray:{
    30:'#7b7b7b',
    50:'#585858'
  }

  --breakpoint-xs: '400px';  

  --background-image-hero: url('/src/assets/bg.png');
  

}